[submodule "minimum-template"]
	path = minimum-template
	url = git@github.com:rchtsang/minimum-template.git
[submodule "minimum-tests"]
	path = minimum-tests
	url = git@github.com:rchtsang/minimum-tests.git
